/*
!.gitignore  
!wp-content    
wp-content/*  
!wp-content/themes 
wp-content/themes/* 
!wp-content/themes/buddyboss-theme-child
!wp-content/plugins   


# Files in the root.
*.pdf
*.jpg
*.jpeg
*.png
*.txt
*.csv

# WP dirs.
wp-admin/*
wp-includes/*
wp-snapshots/*

/wp-content/languages/*
/wp-content/uploads/*
wp-content/plugins/*